#  App 
NEXT_PUBLIC_BASE_URL=https://hoverqr.codingfrontend.in

#  DodoPayments -
# Get from: https://app.dodopayments.com  Developers  API Keys
DODO_PAYMENTS_API_KEY=your_dodo_api_key
DODO_PAYMENTS_ENVIRONMENT=live_mode
# Get from: https://app.dodopayments.com  Products  (your product)  Product ID
DODO_PRODUCT_ID=prd_XXXXXXXXXXXX